{{ define "main" }}
<section class="hero">
  <h1>Recovery-911</h1>
  <p>Your portable toolbox</br>
    for navigating recovery</p>
</section>

<section class="featured-links">
  <div class="link-box">
    <h3><a href="/quickstart/">Quick Start</a></h3>
    <p>Important First Steps!</p>
  </div>
  <div class="link-box">
    <h3><a href="/tools/">Tools</a></h3>
    <p>Resources to help you take action</p>
  </div>
</section>
<section class="home-content">
  <section class="intro">
    <b><u>Search & Rescue Operations Center</u></b>
  </section>
  {{ .Content }}
</section>
{{ end }}
